* {
    text-align: center;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: content;
}

main {
    flex-grow: 1;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


header {
    text-align: center;
    flex: 0 50px;
    background: hsl(130, 80%, 25%);
    justify-content: center;
}

h1 {
    justify-content: center;
    text-align: center;
    flex: 0 1px;
    color: white;
    margin-bottom: 1px;
}

.nav-menu {
    margin: 2px 2px 2px 2px;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: left;
}

    .nav-menu li {
        margin: 0 5px;
    }

h2 {
    color: black;
}

span {
    color: black;
    text-align: center;
}

button {
    color: black;
}

main {
    flex: 1;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black
}

footer {
    flex: 0 20px;
    background: hsl(180, 10%, 10%);
    color: white;
}

.text-reset {
    color: white;
}
/*footer a {
    float: right;
}*/
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    color: black;
}
