* {
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
}
img {
    vertical-align: top;
}
header {
    padding:5px;
    text-align: center;
    flex: 0 50px;
    background: hsl(130, 80%, 25%);
    justify-content: center;
    flex-shrink:0;
}

h1 {
    justify-content: center;
    text-align: center;
    flex: 0 1px;
    color: white;
    margin-bottom: 1px;
}

.app {
    margin: 5px 5px 5px 5px;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: left;
    text-decoration: none;
    gap:20px;
}

.app.NavLink {
        padding : 5px;
        margin: 0 7px;
        text-decoration: none;
}

main {
    flex: 1;
    flex-grow: 1;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
    flex-grow: 1;
}

html, body, #root{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

h2 {
    color: black;
}

span {
    color: black;
    text-align: center;
}

p {
    color:black;
}

button {
    color: black;
}

footer {
    flex-shrink:0;
    background: hsl(180, 10%, 10%);
    color: white;
    margin-top: auto;
}

.text-reset {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
        color: aqua;
        text-decoration: underline;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
