
b {
    justify-content: center;
    text-align: center;
    flex: 0 1px;
    color: black;
    margin: 20px;
    padding: 20px;
}

span {
    color: black;
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}

thead {
    background-color: hsl(130, 80%, 25%);
    color: white;
}

table text {
    color: black;
}

tbody {
    font-size: 18px;
    color: black;
}
th {
    color: white;
    padding: 12px 15px;
    border: 1px solid #dddddd;
    text-align: center;
}
td {
    color: black;
    padding: 12px 15px;
    border: 1px solid #dddddd;
    text-align: center;
}

tr {
    color: black;
}
/*tbody tr:nth-child(even) {
    background-color: #f2f2f2;*/ /* Stripe the table rows */
/*}*/

button {
    color: black;
}


footer {
    flex: 0 20px;
    background: hsl(180, 10%, 10%);
    color: white;
}

.text-reset {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    color: aqua;
    text-decoration: underline;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    vertical-align: top;
}